PORT=5000
NODE_ENV=development

# Neon DB Connection Strings
# Use the pooled connection string (with -pooler.neon.tech) here
DATABASE_URL="postgresql://username:password@neonhost-pooler.neon.tech/dbname?sslmode=require&pgbouncer=true"

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
CORS_ORIGIN=http://localhost:5173
